1tools/
2old/
3TESTING/
build
dist
GTExplorer.spec
build.bat
src++
release
dumpsxiso.exe
mkpsxiso.exe 
doc/GTPS_RESEARCH.md
scripts 
suggested.txt
menu_img_suggested.txt
EXTRACTED
ORIGINAL FILES 
Modified Disks 
Disk 
user_paths.json
todo.txt
camera.py
src.zip
exe.bat
debug_palette_editor.py
old_gl_viewer.py