* {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 11pt;
}

QMainWindow, QWidget {
    background-color: #262525 ;
    color: #FFFFFA;
}

QToolBar {
    font-family: Consolas, "Courier New", monospace;
    font-size: 6pt;
    background-color: #262525;
    border: none;
    spacing: 4px;
    padding: 2px;
}

QToolButton {
    background-color: transparent;
    color: #FFFFFA;
    border: none;
    border-radius: 2px;
    padding: 2px 4px;
}

QToolButton:hover {
    background-color: #493535;
}

QToolButton:pressed {
    background-color: #FF312E;
}

QPushButton {
    background-color: #FF312E;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 6px 12px;
    min-height: 18px;
}

QPushButton:hover {
    background-color: #ff5a57;
}

QPushButton:pressed {
    background-color: #9b2927;
}

QPushButton:disabled {
    background-color: #555555;
    color: #999999;
}

QPushButton[class="secondary"] {
    background-color: transparent;
    border: 1px solid #adb5bd;
    color: #adb5bd;
}

QTreeWidget, QTreeView, QListWidget, QTableView {
    background-color: #252526;
    alternate-background-color: #2a2a2b;
    color: #e0e0e0;
    border: 1px solid #3c3c3c;
    selection-background-color: #c23535;
    selection-color: white;
    outline: none;
}

QHeaderView::section {
    background-color: #262525;
    color: #cccccc;
    padding: 6px;
    border: none;
    border-right: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
    font-weight: bold;
}

QTabWidget::pane {
    border: 1px solid #3c3c3c;
    background-color: #262525 ;
}

QTabBar::tab {
    background-color: #333138;
    color: #FFFFFA;
    padding: 2px 6px;
    margin-right: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

QTabBar::tab:selected {
    background-color: #FF312E;
    color: white;
}

QTabBar::tab:hover:selected {
    background-color: #d14d4d;
}

QTabBar::tab:hover{
    background-color: #662929;
}

QLineEdit, QComboBox, QSpinBox, QTextEdit, QPlainTextEdit {
    font-family: Consolas, "Courier New", monospace;
    font-size: 12px;
    background-color: #333333;
    color: #FFFFFA;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    padding: 4px 8px;
    selection-background-color: #FF312E;
}

QComboBox::drop-down {
    border: none;
    width: 20px;
}

QScrollBar:vertical {
    background: #333138 ;
    width: 12px;
    margin: 0;
    border-radius: 2px;
}

QScrollBar::handle:vertical {
    background: #FF312E;
    border-radius: 4px;
    min-height: 30px;
}

QScrollBar::handle:vertical:hover {
    background: #a11d1b;
}

QScrollBar::handle:vertical:selected{
    background: #cc3a38;
}

QScrollBar:horizontal {
    background: #333138 ;
    height: 12px;
    margin: 0;
    border-radius: 2px;
}

QScrollBar::handle:horizontal {
    background: #FF312E;
    border-radius: 4px;
    min-height: 30px;
}

QScrollBar::handle:horizontal:hover {
    background: #a11d1b;
}

QScrollBar::handle:horizontal:selected{
    background: #cc3a38;
}

QScrollBar::add-line, QScrollBar::sub-line {
    width: 0;
    height: 0;
}

QStatusBar {
    background-color: #33313800;
    color: #FFFFFA;
}

QProgressBar {
    border: 1px solid #3c3c3c;
    border-radius: 2px;
    text-align: center;
    background-color: #252526;
    color: white;
}

QProgressBar::chunk {
    background-color: #FF312E;
    border-radius: 2px;
}

QCheckBox {
    spacing: 8px;
    color: #FFFFFA;
    background-color: #25252600;
}

QCheckBox::indicator {
    width: 16px;
    height: 16px;
    border: 1px solid #666666;
    border-radius: 3px;
    background-color: #25252600;
}

QCheckBox::indicator:checked {
    background-color: #FF312E;
    border-color: #ff5a57;
}

QCheckBox::indicator:hover {
    border-color:#662929;
}

QLabel {
    color:#FFFFFA
}